<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <div style="text-align:center;background: #333;color: #fff">
  	<span class="small">قدرت گرفته از سیستم مدیریت محتوای <a href="">سپهر</a> </span>
  </div>
  </div>
</footer>