<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <span class="small" style="text-align:center;">قدرت گرفته از سیستم مدیریت محتوای <a href="">سپهر</a> </span>
  </div>
</footer>