
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    کلیه حقوق وبسایت برای شرکت <a target="_blank" href="sepehrtec.com" title="وبسایت شرکت سپهر تکنولوژی">سپهر تِک</a> محفوظ می باشد.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-left">
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">سرویسهای سپهر تِک</a></li>
                        <li><a href="#">ارتباط با ما</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->