<div class="row">
	<div class="col-md-12">
		<div class="col-md-8">
			<div class="panel panel-warning ignore-css">
				<div class="panel-heading">
					آخرین مقالات سپهر تک
				</div>
				<div class="panel-body">
					<ul>
						<li>تیتر۱</li>
						<li>تیتر۱</li>
						<li>تیتر۱</li>
						<li>تیتر۱</li>
						<li>تیتر۱</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>