<hr>
<div style="display:block;border:1px solid gray;" class="media well">
  <div class="media-right">
    <a href="#">
      <img style="border-radius:50px;" class="media-object" src=<%= @post.image.thumb.url %> alt="بیوگرافی فرهاد کریمی" width="70px" height="70px">
    </a>
  </div>
  <div style="line-height:30px;" class="media-body">
    <h4 class="media-heading">فرهاد کریمی</h4>

    <p style="text-align:justify;" class="small">
            علاقه مند به برنامه نویسی سیستمی و دنیای لینوکس / توسعه دهنده وب و موبایل / Rubyist , PHP Geek
    </p>
  </div>
</div>