                <h1 id="comments_title">دیدگاه کاربران:</h1>
                <hr>
                <div class="comments-list">
                       <div class="media">
                           <p class="pull-left"><small>۵ روز پیش</small></p>
                            <a class="media-right" href="#">
                              <img src="http://lorempixel.com/40/40/people/1/">
                            </a>
                            <div class="media-body">
                                
                              <h4 class="media-heading user_name">محمد علی</h4>
                              <p>بسیار زیباست.متشکرم</p>                              
                            </div>
                        </div>
                    <hr>
                </div>
                <hr>