<div class="blog">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-item">
                <img class="img-responsive img-blog" src=<%= asset_path("blog/blog1.jpg") %> width="100%" alt="" />
                <div class="row">  
                   <div class="col-xs-12 col-sm-2 text-center">
                    <div class="entry-meta">
                        <span id="publish_date">07  NOV</span>
                        <span><i class="fa fa-user"></i> <a href="#"> John Doe</a></span>
                        <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                        <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-10 blog-content">
                    <h2>Consequat bibendum quam</h2>
                    <p>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit, lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.</p>
                    <p>Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante, elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper.</p>
                    <div class="post-tags">
                        <strong>Tag:</strong> <a href="#">Cool</a> / <a href="#">Creative</a> / <a href="#">Dubttstep</a>
                    </div>
                </div>
            </div>
        </div>
<!--/.blog-item-->