<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menus_index">ویرایش منوها</a></li>
    <li><a data-toggle="tab" href="#menu1">اضافه کردن منو</a></li>
    <li><a data-toggle="tab" href="#menu2">تنظیمات</a></li>
  </ul>

  <div class="tab-content">
    <div id="menus_index" class="tab-pane fade in active">
      <div class="row">
        <div class="col-md-12">
          <h3>ویرایش منو</h3>
          <div class="alert alert-warning">
            <span class="glyphicon glyphicon-info-sign"></span>
            جهت ویرایش نام و آدرس منو و زیرمنوها میتوانید از تنظیمات ذیل استفاده کنید.
          </div>
            <%= render partial:"edit" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>نمایش</h3>
          <p>به زودی ...</p>
      </div>
    <div id="menu2" class="tab-pane fade">
      <h3>تنظیمات</h3>
      <p>به زودی</p>
    </div>
  </div>
</div>
